<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>The Marvels</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>

            <ion-card-title>{{ marvel.name }}</ion-card-title>
        </ion-card-header>
        <ion-img src="{{marvel.card}}"></ion-img>

    </ion-card>
    <ion-button color="danger" (click)="openComics()" shape="round" size="large" expand="block">View
        Comics({{marvel.comics_count}})</ion-button>
    <ion-button color="warning" (click)="OpenDetail()" shape="round" size="large" expand="block">More Details</ion-button>

</ion-content>