<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ marvel.name }}</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-img src="{{marvel.card}}"></ion-img>
        
    </ion-card>
    <ion-card>
        <ion-item>
            <ion-badge color="success" slot="start">{{marvel.comics_count}}</ion-badge>
          <ion-label>Comics</ion-label>
          <ion-button fill="outline" slot="end">View</ion-button>
        </ion-item>
      </ion-card>
</ion-content>
