<ion-header>
  <ion-toolbar>
    <ion-title>
        The Marvels
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item button detail *ngFor="let marvel of this.marvelsService.Marvels" [href]="'/details/'+marvel.id" routerDirection="forward" >
      <ion-thumbnail slot="start">
        <img src="{{marvel.thumbnail}}">
      </ion-thumbnail>
      <ion-label>{{ marvel.name }}</ion-label>

    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
